In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import t
from sklearn.model_selection import train_test_split
import math
from scipy.stats import norm
from scipy.stats import ttest_ind, levene

In [3]:
df=pd.read_csv(r"C:\Users\AnnamalaiG\OneDrive\Desktop\Coures 8\DS1_C8_Computers_Data_Project.csv")

In [4]:
df

,index,price,speed,hd,ram,screen,cd,multi,premium,ads_2022,ads_2023,trend
0,1,1499,25,80,4,14,no,no,yes,94,94,1
1,2,1795,33,85,2,14,no,no,yes,94,94,1
2,3,1595,25,170,4,15,no,no,yes,94,94,1
3,4,1849,25,170,8,14,no,no,no,94,94,1
4,5,3295,33,340,16,14,no,no,yes,94,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6254,6255,1690,100,528,8,15,no,no,yes,39,70,35
6255,6256,2223,66,850,16,15,yes,yes,yes,39,70,35
6256,6257,2654,100,1200,24,15,yes,no,yes,39,70,35
6257,6258,2195,100,850,16,15,yes,no,yes,39,70,35
6258,6259,2490,100,850,16,17,yes,no,yes,39,70,35

In [5]:
df.columns

Index(['index', 'price', 'speed', 'hd', 'ram', 'screen', 'cd', 'multi',
       'premium', 'ads_2022', 'ads_2023', 'trend'],
      dtype='object')

In [12]:
# Task 1
mu_0 = 221.3    
x_bar = 222.2     
sigma = 74.83    
n = 40            
alpha = 0.05      
z = (x_bar - mu_0) / (sigma / math.sqrt(n))
p_value = 1 - norm.cdf(z)
z_critical = norm.ppf(1 - alpha)
print(f"Z-statistic: {z:.2f}")
print(f"Critical Z-value: {z_critical:.2f}")
print(f"P-value: {p_value:.4f}")
if z > z_critical:
    print("Reject the null hypothesis. The average advertising budget in 2023 is significantly higher.")
else:
    print("Fail to reject the null hypothesis. There is insufficient evidence to claim the average advertising budget in 2023 is higher.")

Z-statistic: 0.08
Critical Z-value: 1.64
P-value: 0.4697
Fail to reject the null hypothesis. There is insufficient evidence to claim the average advertising budget in 2023 is higher.

In [16]:

# Task 2
with_cd = df[df['cd'] == 'yes']['price']
without_cd = df[df['cd'] == 'no']['price']
stat, p_levene = levene(with_cd, without_cd)
equal_var = p_levene > 0.05  # If p-value > 0.05, assume equal variances
t_stat, p_value = ttest_ind(with_cd, without_cd, equal_var=equal_var)
print("Levene's Test for Equal Variance:")
print(f"Statistic: {stat:.2f}, P-value: {p_levene:.4f}")
print("")
print("Two-Sample T-Test:")
print(f"T-statistic: {t_stat:.2f}")
print(f"P-value: {p_value:.4f}")
print(f"Equal Variances Assumed: {equal_var}")
print("")
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a statistically significant difference in average prices.")
else:
    print("Fail to reject the null hypothesis. There is no statistically significant difference in average prices.")

Levene's Test for Equal Variance:
Statistic: 44.64, P-value: 0.0000

Two-Sample T-Test:
T-statistic: 16.07
P-value: 0.0000
Equal Variances Assumed: False

Reject the null hypothesis. There is a statistically significant difference in average prices.

In [18]:
# Task 3
premium_computers = df[df['premium'] == 'yes']['price']
sample_size = 25
sample = premium_computers.sample(n=sample_size, random_state=42)
sample_mean = sample.mean()
sample_std = sample.std()
mu_0 = 2200
t_stat = (sample_mean - mu_0) / (sample_std / np.sqrt(sample_size))
df = sample_size - 1
alpha = 0.05
t_critical = t.ppf(1 - alpha/2, df)
p_value = 2 * (1 - t.cdf(abs(t_stat), df))
print(f"Sample Mean: {sample_mean:.2f}")
print(f"Sample Standard Deviation: {sample_std:.2f}")
print(f"T-statistic: {t_stat:.2f}")
print(f"Critical T-value: {t_critical:.2f}")
print(f"P-value: {p_value:.4f}")
if abs(t_stat) > t_critical:
    print("Reject the null hypothesis. The mean price of premium computers is significantly different from $2200.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the mean price of premium computers and $2200.")

Sample Mean: 2295.12
Sample Standard Deviation: 882.69
T-statistic: 0.54
Critical T-value: 2.06
P-value: 0.5950
Fail to reject the null hypothesis. There is no significant difference between the mean price of premium computers and $2200.